@font-face {
	font-family: "MaterialSymbolsSharp";
	src: url(./MaterialSymbolsSharp.ttf);
}
@font-face {
	font-family: "avrile";
	src: url(./avrile-sans.medium.ttf);
}
@font-face {
	font-family: "mapdraw2";
	src: url(./mapdraw2.ttf);
}

body {
    height: 100%;
	width: 100%;
    margin: 0;
    background-color: aliceblue;
    overflow: hidden;
	background-color: black;
	font-family: Consolas, monospace;
}
#menupanel { 
	position: relative;
	border: 5px outset gray;
	height: 75px;
}
#maincontainer {
	position: relative;
	height: 850px;
	outline: 0;
}
#commbox {
	position: absolute;
	display: inline-block;
	min-width: 500px;
	min-height: 200px;
	left: 5px;
	bottom: 25px;
	outline: 1px solid gray;
	padding: 0;
	
}
#log, #localchat, #globalchat {
	border: 3px inset gray;
	background-color: #2a2b2b;
	position: relative;
	min-height: 200px;
	max-height: 450px;
	overflow: auto;
	padding: 5px;
}
#log p, #localchat p, #globalchat p {
	margin: 1px;
	padding: 1px;
	font-size: 10px;
	font-family: Consolas, sans-serif;
	color: #ffff96;
}
span.date {
	color: #66ffff;
}
span.time {
	color: #66ffa1;
}
span.message {
	color: #ffff96;
}
span.fromyou {
	color: orange;
}
#inputbar {
	position: relative;
	height: 20px;
	display: inline-block;
	margin: 0;
	width: 100%;
}

#input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50px;
}
#sendbutton {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
}
#mapbox {
	position: absolute;
	display: inline-block;
	border: 15px inset gray;
	border-radius: 30px;
	background-color: black;
	min-width: 300px;
	min-height: 300px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-top: 420px;
	margin-left: 20px;
	font-family: "mapdraw2", Consolas, monospace;
}
#mapcompass {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
	color: GoldenRod;
	font-size: 50px;
}
#roombox {
	position: relative;
	display: inline-block;
	width: 500px;
	height: 500px;
	border: 3px inset blue;
	background-color: black;
	overflow: auto;
	margin: 0;
	margin-top: 5px;
	padding: 5px;
	color: white;
	text-align: center;
}
#roomexitbox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#roomexitbox h4 {
	text-align: center;
	left: 0;
	right: 0;
}
#mapmask {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 30px;
	border: 15px inset gray;
	margin: -10px;
	padding: -30px;
}
#roombox .roomtitle { color: LightBlue; font-weight: bolder; font-size: 1.1em; margin: 0; padding: 0; display: inline;}
#roombox .roompkid {color: DodgerBlue; font-weight: bold; margin: 0; margin-left: 5px; padding: 0; font-size: 0.9em;}
#roombox .roomdesc {color: white; font-weight: normal; text-align: justify; margin: 5px; padding: 0; line-height: 1.5; font-size: 0.8em;}
#roombox #roomobject { padding: 5px; margin: 5px; margin-top: 50px; line-height: 1; text-align: left; outline: 2px inset green; }
#roombox .roomobjecttitle {padding: 0; margin: 5px; line-height: 1; text-align: center; }
#roomobject tr {padding: 0; margin: 0; margin-top: 10px; line-height: 1; text-align: left; font-size: 0.7em;}
#roomobject .roomobjectpkid {color: yellow; }
#roomobject .roomobjectdesc {color: orange; }
#currentroomexits { bottom: 10px; width: 100%; padding: 0; margin: 0; line-height: 1; text-align: left; }
.roomexits p {display: grid; grid-template-columns: 20% 70% 10%; margin: 0; padding: 0; margin-bottom: 5px;}
.roomexitdir { color: yellow; }
.roomexitname { color: DodgerBlue; }
.roomexitpkid { color: green; }
.roomexits p:hover { background-color: rgba(150,150,20,0.6); cursor: pointer;}
#whobox {
	position: absolute; 
	display: inline-block;
	top: 5px;
	margin: 0;
	margin-left: 6px;
	width: 500px;
	height: 400px;
	background-color: black;
	border: 3px inset orange;
	color: white;
	padding: 0;
	font-size: 0.8em;
}
#whobox h3 {text-align: center; }
#wholist {list-style-type: none; margin: 0; margin-left: -10px; padding: 0; line-height: 1.5;}
#whomods {list-style-type: none;}
#whoplayers {list-style-type: none;}
#whomobs {list-style-type: none;}
.whoadmintag {color: FireBrick; font-weight: bold; }
.whoadminname {color: DodgerBlue; font-weight: bold; }
.whoadmintitle {color: Maroon; font-weight: normal; }
.whoplayertag {color: Yellow; font-weight: normal; margin-right: 10px; }
.whoplayername {color: LightBlue; font-weight: normal; }
.whoplayertitle {color: MediumSeaGreen; font-weight: normal; margin-left: 10px; }
.whomobtag {color: Orange; font-weight: normal; }
.whomobname {color: Red; font-weight: normal; }
.whomobtitle {color: LimeGreen; font-weight: bold; }
#wholist li {}
.tree1 {color: #adff2f; background-color: #008000;}
.path1 {color: yellow; background-color: #008000;}
#mapgrid { display: grid; border: 0; margin: 0; padding: 0; font-family: mapdraw2, MaterialSymbolsSharp; font-size: 32px; text-align: center; letter-spacing: 0; line-height: 1; grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; background-blend-mode: overlay; }
#mapgrid span { width: 32px; height: 32px; border-radius: 3px; padding: 1px; margin: -1px; vertical-align: middle;}
button.selected {background-color: DarkGray; color: white; border: 3px inset DarkGray; border-radius: 5px;}
#commbox #log {}
#commbox #localchat, #commbox #globalchat {display: none;}

#characterwindow {
	position: absolute;
	display: inline-block;
	top: 5px;
	left: 1060px;
	right: 5px;
	bottom: 5px;
	border: 3px inset maroon;
	margin: 0;
	padding: 0;
	color: white;
}

#characterwindow div {
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.1);
	top: 85px;
	left: 0;
	right: 0;
	bottom: 0;
}

#characterwindow h3 {
	text-align: center;
}
#charbuttonbar {
	display: flex;
}
#charbuttonbar button {
	flex: 1;
}
#commboxbar {
	display: flex;
}
#commboxbar button {
	flex: 1;
}

#modoptions {
	color: white;
	font-size: 10pt;
	position: absolute;
	top: 5px;
	right: 5px;
	outline: 1px dotted rgba(255,255,255,0.3);
	padding: 5px;
}

.option_disabled {
	display: none !IMPORTANT;
}

#statusbar {
	display: inline-block;
	color: white;
	line-height: 12pt;
	vertical-align: bottom;
	height: 12pt;
	background-color: rgba(50,255,50,0.4);
	padding: 5px;
}
#statusbar label {
	font-weight: bold;
	font-size: 10pt;
	margin: 0;
	padding: 5px;
	height: 12pt;
}
#statusbar span {
	margin: 0;
	padding: 5px;
	padding-left: 10px;
	margin-left: -10px;
	font-size: 12pt;
	font-weight: bolder;
	color: rgba(200,100,100,1);
}
